<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507426124327-7isef7eegsj98r2gnm7k87s6o6omnli3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507426124327-7isef7eegsj98r2gnm7k87s6o6omnli3</string>
	<key>API_KEY</key>
	<string>AIzaSyANqCGnHqi5dQJfEepcTBLvhUT1CeUD03o</string>
	<key>GCM_SENDER_ID</key>
	<string>507426124327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raulmonton.CerbuApp</string>
	<key>PROJECT_ID</key>
	<string>cerbuapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cerbuapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507426124327:ios:2b57c9bb30929b6da01402</string>
	<key>DATABASE_URL</key>
	<string>https://cerbuapp.firebaseio.com</string>
</dict>
</plist>